.modal {
  position: absolute;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: visible;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.closeButton {
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.125s ease-in-out;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.closeButton:hover {
  background-color: #0066cc;
}
